.FormWrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Form {
  width: 490px;
  text-align: center;
  padding: 3rem;
  margin: 2rem;
}

.Form h1 {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  color: #333;
  font-size: 2rem;
  font-weight: 500;
}
.Form div {
  margin-bottom: 35px;
  display: flex;
}
.Form div input {
  flex: 1;
}
.Form div + div {
  margin-bottom: 50px;
}
.Form input {
  border: none;
  font-size: 1rem;
  width: 80%;
  color: #555;
  outline: none;
  border-bottom: 1px solid rgb(197, 197, 197);
  padding-bottom: 0.6rem;
  font-weight: bold;
  transition: all 0.5s;
}
.Form input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
}

.Form input::placeholder {
  font-weight: 100;
  color: rgb(185, 185, 185);
}

.Form button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #1877f2;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s;
  box-shadow: 0 10px 30px 0 rgb(87 184 70 / 50%);
}
.Form p,
.Form button {
  cursor: pointer;
}
.Form p {
  color: rgb(185, 185, 185);
}
.Form p a {
  color: #1877f2;
}
.Form a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.Form a:hover {
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .Form {
    padding: 0.5rem;
  }
}
